body{
    background: gainsboro;
}

.container{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

.app{
    text-align: center;
    margin-left: 600px;
    margin-top: 50px;
    height: 700px;
    width: 500px;
    border: solid 5px gray;
    padding: 5px;
    box-shadow: 0px 1px 0px 1px gray;
}

#itemsName{
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

#amount{
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

.btn1{
    margin-left: 50px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: greenyellow;
    border-radius: 5px;
    border: none;
}

.btn2{
    margin-left: 50px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: red;
    border-radius: 5px;
    border: none;
}

.display{
    display: flex;
    margin-top: 30px;
    width: 450px;
    border: solid 3px gray;
    padding: 20px;
}

.display h3{
    margin-top: 2px;
    padding: 15px;
    font-weight: bold;
}

.display span{
    margin-bottom: 2px;
    font-weight: 800;
}

table, th, td{
    border: solid 1px grey;
    padding: 1px;
}

.btn1:hover{
    transform: scale(1.1);
    transition: 0s;
}

.btn2:hover{
    transform: scale(1.1);
    transition: 0s;
}

.details span{
    font-size: 23px;
    font-weight: bold;
}