*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.container{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

.app{
    background: gainsboro;
    text-align: center;
    margin-left: 600px;
    margin-top: 10px;
    height: 750px;
    width: 550px;
    border: solid 2px gray;
    padding: 5px;
    box-shadow: 0px 1px 0px 1px gray;
}

#itemsName{
    width: 250px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    outline: none;
}

#amount{
    width: 250px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.btn1{
    margin-left: 50px;
    width: 150px;
    height: 39px;
    font-weight: bold;
    font-size: 15px;
    background-color: greenyellow;
    border-radius: 5px;
    border: none;
}

.btn2{
    margin-left: 50px;
    width: 150px;
    height: 39px;
    font-weight: bold;
    font-size: 15px;
    background-color: red;
    border-radius: 5px;
    border: none;
}

.display{
    margin-top: 20px;
    display: flex;
    text-align: center;
    border: solid grey;
    height: 100px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

.display h3{
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}

.display a{
    font-weight: bold;
    font-size: 20px;
    margin-top: 70px;
}

table, th, td{
    border: solid 1px grey;
    padding: 1px;
    background-color: whitesmoke;
    height: 25px;
}

th{
    background: gainsboro;
}

.table{
    height: 270px;
    width: 528px;
    overflow-y: scroll;
}

.btn1:hover{
    transform: scale(1.1);
    transition: 0s;
}

.btn2:hover{
    transform: scale(1.1);
    transition: 0s;
}

.details span{
    font-size: 23px;
    font-weight: bold;
}

.green{
    color: rgb(90, 139, 17);
}

.red{
    color: red;
}