body{
    background: gainsboro;
}

.container{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

.app{
    text-align: center;
}

#input{
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

#amount{
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

.btn1{
    margin-left: 50px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: greenyellow;
}

.btn2{
    margin-left: 50px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: red;
}

.display{
    display: flex;
    margin-top: 30px;
    width: 450px;
    border: solid 3px gray;
    padding: 20px;
    margin-left: 610px;
}

.display h3{
    margin-top: 2px;
    padding: 15px;
    font-weight: bold;
}

.display span{
    margin-bottom: 2px;
    font-weight: 800;
}

.table{
    padding: 10px;
    margin-left: 600px;
    
    
}

table, th, td{
    border: solid 1px grey;
}